<div class="row">
    <div class="col-xs-12">
        <img src="{{detailRecipe.imgUrl}}" alt="{{detailRecipe.name}}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{detailRecipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div
        class="btn-group"
        app-dropdown 
        >
            <button type="button" class="btn btn-primary dropdown-toggle">Manage recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                    <a style="cursor:pointer" (click)="onAddToShoppingList()" >add</a>
                    <a style="cursor:pointer" (click)="onEditRecipe()">edit</a>
                    <a style="cursor:pointer">delete</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{detailRecipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group-item">
            <li *ngFor="let ingredirnt of detailRecipe.ingredients">
                {{ingredirnt.name}} - {{ingredirnt.amount}}
            </li>
        </ul>
    </div>
</div>